/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f9f9f9;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007acc; /* Azul mais claro */
    color: white;
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background-color 0.3s;
}

.navbar.active {
    background-color: #006bb3; /* Azul um pouco mais escuro */
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.menu-toggle {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.navbar nav {
    display: flex;
    gap: 1.5rem;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #d0d0d0;
}

/* Header Section */
.header {
    text-align: center;
    padding: 5rem 1rem;
    color: white;
}

.header h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.header p {
    font-size: 1.25rem;
}

/* Container */
.container {
    padding: 2rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

/* Highlights Section */
.highlights {
    text-align: center;
    margin-top: 2rem;
}

.highlight {
    margin-bottom: 2rem;
}

.highlight img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.highlight h3 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    color: #333; /* Cor mais escura */
}

.highlight p {
    font-size: 1rem;
    margin-top: 0.5rem;
    color: #555;
}

/* Sections */
.section {
    padding: 2rem 1rem;
    margin-top: 2rem;
    background-color: #fff; /* Fundo branco */
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #007acc; /* Azul da navbar */
}

.section p {
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
}

/* Testimonials Section */
.testimonials {
    background-color: #f0f8ff; /* Azul claro */
    padding: 2rem 1rem;
    border-radius: 10px;
    text-align: center;
}

.testimonial {
    margin-bottom: 1.5rem;
}

.testimonial p {
    font-style: italic;
    color: #333;
}

.author {
    font-weight: bold;
    margin-top: 0.5rem;
    color: #007acc; /* Azul da navbar */
}

/* Footer */
.footer {
    background-color: #007acc; /* Azul mais claro */
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    .header {
        margin-top: 170px;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-toggle {
        display: block;
    }

    .navbar nav {
        display: none;
        flex-direction: column;
        gap: 1rem;
    }

    .navbar.active nav {
        display: flex;
    }
}
