.map-container {
    height: 400px;
    width: 100%;
    border: 2px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .leaflet-container {
    height: 100%;
    width: 100%;
  }
  
  .leaflet-popup-content-wrapper {
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .leaflet-popup-tip {
    display: none;
  }
  
  .leaflet-popup-content {
    font-size: 1rem;
    color: #333;
  }
  
  .leaflet-marker-icon {
    transition: transform 0.3s;
  }
  
  .leaflet-marker-icon:hover {
    transform: scale(1.2);
  }
  